[package]
name = "dlm"
version = "0.2.8"
authors = ["Arnaud Gourlay <arnaud.gourlay@gmail.com>"]
description = "Minimal download manager"
edition = "2021"

[dependencies]
futures = "0.3.21"
futures-util = "0.3.21"
reqwest = "0.11.11"
tokio-stream = { version = "0.1.9", features = ["io-util"] }
tokio = { version = "1.20.1", features = ["rt-multi-thread", "fs", "macros"] }
tokio-retry = "0.3.0"
async-channel = "1.7.0"
chrono = "0.4.21"
clap = { version = "3.1.18", features = ["cargo"] }
indicatif = "0.17.0"
thiserror = "1.0.32"
rand = "0.8.5"
